
<div class="mge-show">
    <div class="mge-content">

    <% if m.image_file_name %>
      <%= image_tag m.image.url(:medium) %>
    <% end %>

    <% if m.audio.exists? %>
       <%= audio_tag(m.audio.url, :controls => true) %>
    <% end %>

    <% if m.video.exists? %>
       <%= video_tag(m.video.url, :controls => true, :width => 400 ) %>
    <% end %>

    <p><%=simple_format m.content %></p>
  </div>
</div>
