<div class="sign_in_page">

  <div class="col-md-6 col-sm-12 col-md-push-3">
    <div class="login_area col-sm-12">
      <h1 align="center">theWord 微遺言</h1>
      <h3 align="center">社群網站是我們確認發送狀態的一環</h3>
        <h3 align="center">請選擇最常使用的服務登入</h3>
      <br>
      <br>
      <br>
      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
      <% end -%>

      <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
        <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
      <% end -%>

      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), :class => "btn btn-primary btn-lg col-md-6 col-md-push-3 fb-signin" %><br />
        <% end -%>
      <% end -%>
      <br>
      <br>
      <div class="btn btn-danger btn-lg col-md-6 col-md-push-3 sign_up">Sign in with Google</div>
    </div>

  </div>

  <div class="col-md-3"></div>
</div>