
<div class="col-md-4 col-md-push-4">
  <%= form_for @contact do |f|%>

    <%= render :partial => "form", :locals => { :f => f, :contact => @contact } %>

    <%= f.submit "更新聯絡人資料", :class => "btn btn-default" %>

  <% end %>
</div>
