@import "bootstrap";
@import "bootstrap-sprockets";

body{
  background-color: #B2B2CC ;
}
.btn-add-contact{
  width: 100%;
}
.contact-list{
  background-color: #fff;
}
textarea{
  resize: none;
}
.mge-txt-area, .todolist, .contact-list, .mge{
  outline:1px solid #FF0000;
}
.mge-show{
  margin: 10px,0px, 10px, 0px;
  background-color: #fff ;
}

footer{
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

