@import "bootstrap";
@import "bootstrap-sprockets";
@import "select2";
@import "select2-bootstrap";
@import 'bootstrap-datepicker';

/* html */
body{
  /*background-color: #f5faff;*/
  /*background-color: #FFF1F8;*/
  /*background-color: #DEFFA3;*/
  padding-top: 70px;
}
.theword_sample{
  width: 100%;
  height: auto;
  border-radius: 3px;
}
.draft-style{
  background-color: #fbb;
  /*background: image-url("brownribbon.png") no-repeat center center;*/
  background-size: cover;
  margin-left: -40px;
}
.sign_in_page{
  margin-top: -70px;
  background: image-url("sign_in_family3.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100% ;
}
.user_show{
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #999;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #F08C34;
  /*border-left-color: #ce4844;*/
}
.navbar {
   background: rgba(245, 250, 255, 0.7);   /* for latest browsers */
}
.login_area{
  /*outline:1px solid #FF0000;*/
  height:400px;
  /*top:50%;*/
  /*vertical-align: middle;*/
  /*background-color:#fff ;*/
  margin-top: 125px;
}
.fb-signin{
  /*left: 170px;*/
  background-color: #2454A0;
}
.sign_up{
  /*left: 170px;*/
  background-color: #D2372E;
}
.navbar .navbar-default{
   background: rgba(245, 250, 255,0.5);   /* for latest browsers */
}

textarea{
  resize: none;
}
footer{
  text-align: center;
}
.new-message-bg{
  background: image-url("lightgreenribbon.png") no-repeat center;
  background-size: 1400px 800px;
  height: 90px;
}
.new-message-title{
  color: #fff;
  width: 600px;
  height: 90px;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 40px;
}
.message-new{
  padding: 10px;
  margin-top: -10px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #eee;
  border-left: 5px solid #488677;
}
.bg-pic{
  /*background-color: #d1ffff;*/
  background: image-url("brownribbon.png") no-repeat center;
  background-size: 1300px 800px;
  height: 90px;
}
.bg-text1{
  color: #fff;
  width: 500px;
  padding-top: 20px;
  padding-left: 20px;
}

.example-content{
  /*margin-left: 8px;
  margin-right: 15px;*/
  margin-top: -10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #eee;
  border-left: 5px solid #ce4844;
}

.title-bg{
  background: image-url("red.png") no-repeat center;
  background-size: 600px 800px;
  height: 90px;
}
.title-content{
  color: #fff;
  font-size: 20px;
  width: 200px;
  height: 80px;
  padding-top: 20px;
  padding-left: 30px;
}
.contact-bg{
  background: image-url("darkredribbon.png") no-repeat center;
  background-size: 650px 800px;
  height: 90px;
}
.contact-bg-title{
  padding-top: 20px;
  padding-left: 20px;
  color: #fff;
  font-size:30px;
}
.receiver-bg{
  background: image-url("darkredribbon.png") no-repeat center;
  background-size: 650px 800px;
  height: 90px;
}
.contact-bg-title{
  padding-top: 20px;
  padding-left: 20px;
  color: #fff;
  font-size:30px;
}

/* class */
.message-input-area{
  min-height: 50px;
}
.new-receiver-button{
  padding: 0px;
}
.receiver-add{
  width: 23%;
}
.receivers-s2{
  padding: 0px;
  width: 75%;
}
.message-new{
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px 1px #c0c0c0;
  border-radius: 5px;
  background-color: #fff;
}
.mge-show-id{
  padding: 10px;
  margin-top: -10px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #eee;
  border-left: 5px solid #F08C34;
}
.btn-add-contact{
  width: 100%;
}

.contact-list,
.receiver-list
{
  margin-top: -10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 15px;
  border: 2px solid #eee;
  border-left: 5px solid #7E3A46;
}
.outline-show-red{
  outline:1px solid #FF0000;
}
.outline-show-green{
  outline:1px solid #00ff00;
}

.dropdown-toggle{
  padding: 0px !important;
  margin-right: 15px;
}
.receiver-name {
  display: inline-block;
  border: 1px #E77900 solid;
  border-radius: 3px;
  background-color: #E77900;
  padding: 0px 5px;
}

.mge-show-id{

}
/* other */

/*
.contact-list,
.receiver-list
{
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px #c0c0c0;
  border-radius: 5px;
  margin-bottom: 20px;
}
.mge-show-id:nth-of-type(odd){
  background-color: #ffff99;
  border-left-width: 50px;
  border-left-color: #ff0000;
}
.mge-show-id:nth-of-type(even){
  background-color: #ff0000;
  border-left-width: 50px;
  border-left-color: #ffff99;
}

 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

