@import "bootstrap";
@import "bootstrap-sprockets";
@import "select2";
@import "select2-bootstrap";
@import 'bootstrap-datetimepicker';

/* html */
body{
  background-color: #FFF2EB;
  padding-top: 70px;
}
textarea{
  resize: none;
}
footer{
  text-align: center;
}


/* class */
.message-input-area{
  min-height: 50px;
}
.new-receiver-button{
  padding: 0px;
}
.receivers-s2{
  padding: 0px;
}
.message-new, .mge-show{
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px 1px #c0c0c0;
  border-radius: 5px;
}
.btn-add-contact{
  width: 100%;
}
.contact-list,
.receiver-list
{
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px #c0c0c0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.outline-show{
  outline:1px solid #FF0000;
}
.mge-show{
  background-color: #fff;
}
.dropdown-toggle{
  padding: 0px !important;
  margin-right: 15px;
}
.receiver-name {
  display: inline-block;
  border: 1px #f00 solid;
  border-radius: 3px;
  background-color: #f00;
}

/* other */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

